@media (max-width: 992px) {
	#habilities {
		.div-card {
			.card {
				margin-top: 0 !important;
			}
		}
	}

	#projects {
		.project {
			&:hover {
				h3,
				p {
					filter: drop-shadow(0px 5px 3px $corEscuro);
				}
				h3 {
					transform: unset !important;
				}
				.img-project {
					transform: translate(0%, -90%) translate3d(25px, 0, 0) !important;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	header {
		#headerLeftSide {
			img {
				max-width: 250px;
			}
		}
		#headerRightSide {
			h1 {
				+ p {
					&::after {
						margin: 20px auto;
					}
				}
			}
		}
	}

	#projects {
		.project {
			h3 {
				font-size: 2rem !important;
			}
		}
	}
}

@media (max-width: 500px) {
	body {
		h2 {
			font-size: 1.5rem !important;
		}
	}
}

//Min-width

@media (min-width: 1200px) {
	#habilities {
		.div-card {
			@include card-alternate-colors-responsive; // mixin background
		}
	}
}
