@media (max-width: 992px) {
	#habilities {
		.div-card {
			.card {
				margin-top: 0 !important;
			}
		}
	}
}
@media (max-width: 768px) {
	header {
		#headerLeftSide {
			img {
				max-width: 250px;
			}
		}
		#headerRightSide {
			h1 {
				+ p {
					&::after {
						margin: 20px auto;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	body {
		h2 {
			font-size: 1.5rem !important;
		}
	}
}

//Min-width

@media (min-width: 1200px) {
	#habilities {
		.div-card {
			@include card-alternate-colors-responsive; // mixin background
		}
	}
}
