.skills {
	position: relative;
	h2 {
		@include line-title;
	}

	.container {
		position: absolute;
		inset: 0;
	}
	canvas {
		z-index: 1;
		position: relative;
		opacity: 0.5;
		max-height: 450px;
	}

	.card {
		border: none;
		color: $branco;
		position: relative;
		z-index: 2;

		.card-body {
			.card-title {
				i {
					color: $corPrimaria;
				}
			}

			.card-text {
				color: $corSecundaria;
			}
		}
	}
}
