@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&display=swap");

$fontFamilyText: "Coda", sans-serif;
$fontFamilyTitle: "Chakra Petch", sans-serif;

$corPrimaria: #00d1de;
$corSecundaria: #cccccc;
$corEscuro: #01080e;
$branco: #fff;
$linearPrimario: linear-gradient(
	180deg,
	rgba($corPrimaria, 0.5) 0%,
	rgba($branco, 0) 100%
);
$linearSecundario: linear-gradient(
	180deg,
	rgba(50, 50, 50, 0.5) 0%,
	rgba($branco, 0) 100%
);
$opacityPrimario50: rgba($corPrimaria, 0.5);
$opacityPrimario20: rgba($corPrimaria, 0.2);
