@import "_variables.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_responsive.scss";
@import "_habilities.scss";
@import "_projects.scss";
@import "_skills.scss";
@import "_contact.scss";
@import "_footer.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("/assets/img/bg2.svg") no-repeat top;
	background-size: cover !important;
	background-color: $corEscuro !important;
	font-family: $fontFamilyText !important;

	// Icons
	i {
		color: $branco;
	}

	h2 {
		color: $branco;
		font-family: $fontFamilyTitle;
		font-weight: bold;
		font-size: 2.5rem;
	}

	.span-color {
		color: $corPrimaria;
	}
}

// Tooltip

.custom-tooltip {
	.tooltip-inner {
		background-color: $corPrimaria;
		color: $corEscuro;
		font-weight: 600;
		font-size: 0.8rem;
	}

	$placements: top right bottom left;

	@each $placement in $placements {
		$color-property: "border-#{$placement}-color";

		&[data-popper-placement^="#{$placement}"] {
			.tooltip-arrow {
				&::before {
					#{$color-property}: $corPrimaria !important;
				}
			}
		}
	}
}

.custom-tooltip-project {
	.tooltip-inner {
		background-color: $branco;
		color: $corEscuro;
		font-weight: 600;
		font-size: 0.8rem;
		i {
			color: $corEscuro;
		}
	}

	$placements: top right bottom left;

	@each $placement in $placements {
		$color-property: "border-#{$placement}-color";

		&[data-popper-placement^="#{$placement}"] {
			.tooltip-arrow {
				&::before {
					#{$color-property}: $branco !important;
				}
			}
		}
	}
}
